@import-normalize;

:root {
  --darkColor: rgb(30, 35, 39);
  --lightColor: rgb(235, 217, 183);
  --primeColor: rgb(31, 110, 110);
  --secondColor:rgba(175, 59, 59, 0.945);
  --thirdColor: rgba(78, 78, 73, 0.87);
  --fourthColor: rgba(59, 76, 175, 0.945);
  --dashedBorder: dashed 2px var(--lightColor);
  --solidBorder: solid 1px var(--lightColor);
  --doubleBorder: double 3px var(--lightColor);
  --borderRadius: 1rem;
 }

 ::selection {
  background-color: var(--primeColor);
  color: var(--darkColor);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito','Outfit', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--darkColor);
  color: var(--lightColor);
  text-align: center;
  margin: 0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
